---
http_interactions:
- request:
    method: get
    uri: https://trello.com/1/tokens/95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="f60a3af0e5aee5e1b7f52e526dc6f0eb",
        oauth_signature="aTC5%2BWt54Xnyn%2BTN1u0ZBOvqEak%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452799562", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.563.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452799562809'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2-d4cbb29"
      x-iinfo:
      - 10-5149639-5149641 NNNN CT(77 76 0) RT(1452799562254 13) q(0 0 2 -1) r(3 3)
        U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 14 Jan 2016 19:26:02 GMT
- request:
    method: get
    uri: https://trello.com/1/members/me/boards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="74a04204fd77bf8a1be47f068c4124c0",
        oauth_signature="PpUnLxG8RNgBTiqLFPEmVuGz%2Bcg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452799562", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.563.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452799563116'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8TBNO3zew2AwgnryKyCZag=="
      x-iinfo:
      - 1-2372129-2372130 NNNN CT(78 78 0) RT(1452799562549 12) q(0 0 2 -1) r(3 3)
        U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Hiring","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":null,"invitations":null,"shortLink":"kyjx2Y7H","powerUps":[],"dateLastActivity":"2016-01-13T19:20:55.582Z","idTags":[],"id":"56903b47301bbf79e2a0b62d","invited":false,"starred":false,"url":"https://trello.com/b/kyjx2Y7H/hiring","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"memberships":[{"id":"56903b47301bbf79e2a0b62e","idMember":"568eb22b4f2a9c123db4f2d3","memberType":"admin","unconfirmed":false,"deactivated":false}],"subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2016-01-13T23:32:34.399Z","shortUrl":"https://trello.com/b/kyjx2Y7H"},{"name":"Welcome
        Board","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":null,"invitations":null,"shortLink":"WTz0KAxL","powerUps":[],"dateLastActivity":"2016-01-08T01:51:30.507Z","idTags":[],"id":"568eb22c4f2a9c123db4f2d5","invited":false,"starred":false,"url":"https://trello.com/b/WTz0KAxL/welcome-board","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"memberships":[{"id":"568eb22c4f2a9c123db4f2d9","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","unconfirmed":false,"deactivated":false},{"id":"568eb22c4f2a9c123db4f2da","idMember":"568eb22b4f2a9c123db4f2d3","memberType":"admin","unconfirmed":false,"deactivated":false}],"subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2016-01-09T01:03:01.907Z","shortUrl":"https://trello.com/b/WTz0KAxL"}]'
  recorded_at: Thu, 14 Jan 2016 19:26:03 GMT
recorded_with: VCR 3.0.1
