---
http_interactions:
- request:
    method: get
    uri: https://trello.com/1/boards/some_board_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="74059fc59a8677137c2d050b95492f4c",
        oauth_signature="R8waiSDY4Gy4aRQLm5wUrIvj8uc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452728278", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.561.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452728278854'
      x-trello-index-last-update:
      - '92'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f0-6e39b37c"
      x-iinfo:
      - 4-13673439-13673442 NNNN CT(72 73 0) RT(1452728277623 12) q(0 0 1 -1) r(2
        2) U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56903b47301bbf79e2a0b62d","name":"Hiring","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/kyjx2Y7H/hiring","shortUrl":"https://trello.com/b/kyjx2Y7H","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Wed, 13 Jan 2016 23:37:58 GMT
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="b8eb8097c78953bc515b91525272e861",
        oauth_signature="q%2BL9ep6usdmVqeFNNLMfv4E1tn0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452728278", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.561.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452728279135'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"Oiq1G3n6AlGwl39Lgk8apQ=="
      x-iinfo:
      - 7-22942150-22942151 NNNN CT(73 74 0) RT(1452728277908 11) q(0 0 1 -1) r(2
        2) U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5694509d505786bb0da037b2","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T01:02:21.331Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b5cf8dde35f827c63ae","idMembersVoted":[],"idShort":6,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Kurtis
        Seebaldt","pos":65535,"shortLink":"1XqxfHhc","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"due":null,"email":"achen_pivotal+568eb22b4f2a9c123db4f2d3+5694509d505786bb0da037b2+dde2a38eed762bd5c22911e3299ed477dff50509@boards.trello.com","idChecklists":[],"idMembers":[],"labels":[],"shortUrl":"https://trello.com/c/1XqxfHhc","subscribed":false,"url":"https://trello.com/c/1XqxfHhc/6-kurtis-seebaldt"},{"id":"5694504ff8cef4f106b85903","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T21:59:51.793Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b61281e96dd0ae060f2","idMembersVoted":[],"idShort":5,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Steve
        Gravrock","pos":16383.875,"shortLink":"9B[...]
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="900c5ca4ad6b9491303cc250491fe601",
        oauth_signature="p8dyRauLYT4lHFnz3FaEY3fwKpE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452728279", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e2004[...]
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/actions?filter=createCard%2CupdateCard%3AidList%2CupdateCard%3Aclosed&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="c89996d3ee0836101a0aa62267e7ecdf",
        oauth_signature="Mm2Db9IHRlFFJTD%2BVpKNlL%2FWpXk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452728279", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.561.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452728280139'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b1hQEdjEtSrK6Gxz4vqnkw=="
      x-iinfo:
      - 9-43180419-43180421 NNNN CT(74 74 0) RT(1452728278526 12) q(0 0 1 -1) r(6
        6) U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5696a39739a1c7fad4d9c776","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"list":{"name":"Waiting
        for Decision","id":"56903b64a1b0273e5061ed36"},"board":{"shortLink":"kyjx2Y7H","name":"Hiring","id":"56903b47301bbf79e2a0b62d"},"card":{"shortLink":"JLogZmh5","idShort":7,"name":"Zoom
        Zoom","id":"5696a38537b2f0c5f35426bb","closed":true},"old":{"closed":false}},"type":"updateCard","date":"2016-01-13T19:20:55.586Z","memberCreator":{"id":"568eb22b4f2a9c123db4f2d3","avatarHash":null,"fullName":"Alpha","initials":"A","username":"achen_pivotal"}},{"id":"5696a389a8fa251259b701bc","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"listAfter":{"name":"Waiting
        for Decision","id":"56903b64a1b0273e5061ed36"},"listBefore":{"name":"Waiting
        for Interview","id":"56903b61281e96dd0ae060f2"},"board":{"shortLink":"kyjx2Y7H","name":"Hiring","id":"56903b47301bbf79e2a0b62d"},"card":{"shortLink":"JLogZmh5","idShort":7,"name":"Zoom
        Zoom","id":"5696a38537b2f0c5f35426bb","idList":"56903b64a1b0273e5061ed36"},"old":{"idList":"56903b61281e96dd0ae060f2"}},"type":"updateCard","date":"2016-01-13T19:20:41.512Z","memberCreator":{"id":"568eb22b4f2a9c123db4f2d3","avatarHash":null,"fullName":"Alpha","initials":"A","userna[...]
