---
http_interactions:
- request:
    method: get
    uri: https://trello.com/1/boards/some_board_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="c9044c1effc4edcb7b6fb8adbac268b9",
        oauth_signature="hILXRQDE3My9lT4Y6BALna3j7V8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452627909", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.559.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452627909931'
      x-trello-index-last-update:
      - '63'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f0-6e39b37c"
      x-iinfo:
      - 7-28999727-28999728 NNNN CT(64 65 0) RT(1452627909524 11) q(0 0 1 -1) r(2
        2) U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"some_board_id","name":"A Board Name","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/kyjx2Y7H/hiring","shortUrl":"https://trello.com/b/kyjx2Y7H","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Tue, 12 Jan 2016 19:45:09 GMT
- request:
    method: get
    uri: https://trello.com/1/boards/some_board_id/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="8ff880493cd26e9a77427b95ba41dfef",
        oauth_signature="RWCgOK9nqvGOdDa%2FIo69OXO2Bb0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452628587", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.559.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452628587936'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"h2xlF/S1h2zAnz/13ffypw=="
      x-iinfo:
      - 8-41318149-41318152 NNNN CT(88 94 0) RT(1452628587446 12) q(0 0 2 0) r(3 3)
        U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5694509d505786bb0da037b2","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T01:02:21.331Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b5cf8dde35f827c63ae","idMembersVoted":[],"idShort":6,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Alice","pos":65535,"shortLink":"1XqxfHhc","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"due":null,"email":"achen_pivotal+568eb22b4f2a9c123db4f2d3+5694509d505786bb0da037b2+dde2a38eed762bd5c22911e3299ed477dff50509@boards.trello.com","idChecklists":[],"idMembers":[],"labels":[],"shortUrl":"https://trello.com/c/1XqxfHhc","subscribed":false,"url":"https://trello.com/c/1XqxfHhc/6-kurtis-seebaldt"},{"id":"56944ecb0fbae97e72787568","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T01:00:05.733Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b61281e96dd0ae060f2","idMembersVoted":[],"idShort":4,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Bob","pos":131071,"shortLink":"Dln2zB3R","badges":{"vot[...]
