---
http_interactions:
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="4c524b4e517ecb7f8b66a6e58d13c68b",
        oauth_signature="ZTMWSCl1K0get%2Bo962TAzojq8BE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1484467200", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.563.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452799561491'
      x-trello-index-last-update:
      - '92'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f0-6e39b37c"
      x-iinfo:
      - 9-4183881-4183884 NNNN CT(76 78 0) RT(1452799560941 12) q(0 0 2 -1) r(3 3)
        U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56903b47301bbf79e2a0b62d","name":"Hiring","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/kyjx2Y7H/hiring","shortUrl":"https://trello.com/b/kyjx2Y7H","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Sun, 15 Jan 2017 08:00:00 GMT
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="d4862b4d7206531a4fe93d35a1979d49",
        oauth_signature="2fmc7eiZJipfjnP%2B1EfttvWWqE8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1484467200", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.563.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452799561811'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1b8-8e0367d2"
      x-iinfo:
      - 9-4183949-4183953 NNNN CT(78 84 0) RT(1452799561240 12) q(0 0 2 -1) r(3 3)
        U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"56903b5cf8dde35f827c63ae","name":"Waiting for RPI","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":65535,"subscribed":false},{"id":"56903b61281e96dd0ae060f2","name":"Waiting
        for Interview","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":196607,"subscribed":false},{"id":"56903b64a1b0273e5061ed36","name":"Waiting
        for Decision","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":327679,"subscribed":false}]'
  recorded_at: Sun, 15 Jan 2017 08:00:00 GMT
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/cards?filter=all&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="0e42dc94975062c8825ea00ee7cb396c",
        oauth_signature="ezVgB1g5y2hcc%2Fj6SPOVFGRQdAA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1484467200", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.563.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452799562142'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5p6zD1GuKfkwqLc7/R5nug=="
      x-iinfo:
      - 10-5149474-5149478 NNNN CT(75 80 0) RT(1452799561550 12) q(0 0 2 -1) r(3 3)
        U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5694509d505786bb0da037b2","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T01:02:21.331Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b5cf8dde35f827c63ae","idMembersVoted":[],"idShort":6,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Kurtis
        Seebaldt","pos":65535,"shortLink":"1XqxfHhc","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"due":null,"email":"achen_pivotal+568eb22b4f2a9c123db4f2d3+5694509d505786bb0da037b2+dde2a38eed762bd5c22911e3299ed477dff50509@boards.trello.com","idChecklists":[],"idMembers":[],"labels":[],"shortUrl":"https://trello.com/c/1XqxfHhc","subscribed":false,"url":"https://trello.com/c/1XqxfHhc/6-kurtis-seebaldt"},{"id":"5694504ff8cef4f106b85903","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T21:59:51.793Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b61281e96dd0ae060f2","idMembersVoted":[],"idShort":5,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Steve
        Gravrock","pos":16383.875,"shortLink":"9B[...]
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/actions?filter=createCard%2CupdateCard%3AidList%2CupdateCard%3Aclosed&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="51d03b29ebac9310ebfc2c62f92f2626",
        oauth_signature="SYUDGIq0G4Pv%2B8%2BsF6HpFWMuTu0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1484467200", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.563.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452799562489'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b1hQEdjEtSrK6Gxz4vqnkw=="
      x-iinfo:
      - 10-5149572-5149573 NNNN CT(74 73 0) RT(1452799561887 11) q(0 0 2 -1) r(4 4)
        U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5696a39739a1c7fad4d9c776","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"list":{"name":"Waiting
        for Decision","id":"56903b64a1b0273e5061ed36"},"board":{"shortLink":"kyjx2Y7H","name":"Hiring","id":"56903b47301bbf79e2a0b62d"},"card":{"shortLink":"JLogZmh5","idShort":7,"name":"Zoom
        Zoom","id":"5696a38537b2f0c5f35426bb","closed":true},"old":{"closed":false}},"type":"updateCard","date":"2016-01-13T19:20:55.586Z","memberCreator":{"id":"568eb22b4f2a9c123db4f2d3","avatarHash":null,"fullName":"Alpha","initials":"A","username":"achen_pivotal"}},{"id":"5696a389a8fa251259b701bc","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"listAfter":{"name":"Waiting
        for Decision","id":"56903b64a1b0273e5061ed36"},"listBefore":{"name":"Waiting
        for Interview","id":"56903b61281e96dd0ae060f2"},"board":{"shortLink":"kyjx2Y7H","name":"Hiring","id":"56903b47301bbf79e2a0b62d"},"card":{"shortLink":"JLogZmh5","idShort":7,"name":"Zoom
        Zoom","id":"5696a38537b2f0c5f35426bb","idList":"56903b64a1b0273e5061ed36"},"old":{"idList":"56903b61281e96dd0ae060f2"}},"type":"updateCard","date":"2016-01-13T19:20:41.512Z","memberCreator":{"id":"568eb22b4f2a9c123db4f2d3","avatarHash":null,"fullName":"Alpha","initials":"A","userna[...]
