---
http_interactions:
- request:
    method: get
    uri: https://trello.com/1/members/me/boards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="6c82fcde8a9ebd40aee67bc76e4d6e4c",
        oauth_signature="VZXJmgEWGdbpYPe0ztaRbwTWRCk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452301240", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.556.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452301241489'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9M5WJm5yVLy8JyvpuzpOXg=="
      x-iinfo:
      - 10-238384046-238384047 NNNN CT(75 84 0) RT(1452301240985 11) q(0 0 2 -1) r(3
        3) U13
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Hiring","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":null,"invitations":null,"shortLink":"kyjx2Y7H","powerUps":[],"dateLastActivity":null,"idTags":[],"id":"56903b47301bbf79e2a0b62d","invited":false,"starred":false,"url":"https://trello.com/b/kyjx2Y7H/hiring","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"memberships":[{"id":"56903b47301bbf79e2a0b62e","idMember":"568eb22b4f2a9c123db4f2d3","memberType":"admin","unconfirmed":false,"deactivated":false}],"subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2016-01-08T22:49:16.298Z","shortUrl":"https://trello.com/b/kyjx2Y7H"},{"name":"Welcome
        Board","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":null,"invitations":null,"shortLink":"WTz0KAxL","powerUps":[],"dateLastActivity":"2016-01-08T01:51:30.507Z","idTags":[],"id":"568eb22c4f2a9c123db4f2d5","invited":false,"starred":false,"url":"https://trello.com/b/WTz0KAxL/welcome-board","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"memberships":[{"id":"568eb22c4f2a9c123db4f2d9","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","unconfirmed":false,"deactivated":false},{"id":"568eb22c4f2a9c123db4f2da","idMember":"568eb22b4f2a9c123db4f2d3","memberType":"admin","unconfirmed":false,"deactivated":false}],"subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2016-01-08T04:40:34.077Z","shortUrl":"https://trello.com/b/WTz0KAxL"}]'
  recorded_at: Sat, 09 Jan 2016 01:00:41 GMT
- request:
    method: get
    uri: https://trello.com/1/tokens/TEST_ACCESS_TOKEN/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="6055c2d1668a36a26528405ee5b54ce7",
        oauth_signature="051N%2FAVW77H5khbvqiDORohmBoM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452552702", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.557.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452552703019'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"96-8481bc52"
      x-iinfo:
      - 9-45342366-45342367 NNNN CT(75 75 0) RT(1452552702583 12) q(0 0 2 -1) r(3
        3) U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"569430fe4d5451a30d1f3c3a","description":"","idModel":"56903b47301bbf79e2a0b62d","callbackURL":"http://alki.cfapps.io/callback","active":true}]'
  recorded_at: Mon, 11 Jan 2016 22:51:43 GMT
recorded_with: VCR 3.0.1
