---
http_interactions:
- request:
    method: get
    uri: https://trello.com/1/boards/some_board_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="c9044c1effc4edcb7b6fb8adbac268b9",
        oauth_signature="hILXRQDE3My9lT4Y6BALna3j7V8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452627909", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.559.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452627909931'
      x-trello-index-last-update:
      - '63'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f0-6e39b37c"
      x-iinfo:
      - 7-28999727-28999728 NNNN CT(64 65 0) RT(1452627909524 11) q(0 0 1 -1) r(2
        2) U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"some_board_id","name":"A Board Name","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/kyjx2Y7H/hiring","shortUrl":"https://trello.com/b/kyjx2Y7H","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Tue, 12 Jan 2016 19:45:09 GMT
recorded_with: VCR 3.0.1
