---
http_interactions:
- request:
    method: post
    uri: https://trello.com/1/webhooks
    body:
      encoding: UTF-8
      string: '{"idModel":"some_board_id","callbackURL":"http://alki.cfapps.io/callback"}'
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="23c863cabce2396be2daf04a7dac34bc",
        oauth_signature="8bHCuTOw9AmwrrUNXCNmHRVOS%2BY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452555266", oauth_token="95c590519e0dbc29dc412d76f8a9f969c39398d3ddcd2e8900b2e200480fd504",
        oauth_version="1.0"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.557.0
      x-trello-environment:
      - Production
      x-server-time:
      - '1452555267488'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"94-5485e98f"
      x-iinfo:
      - 7-11715193-11715194 NNNN CT(64 65 0) RT(1452555265786 11) q(0 0 2 -1) r(8
        8) U6
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56943c037c3e4070dd949ef3","description":"","idModel":"some_board_id","callbackURL":"http://localhost:9292/callback","active":true}'
  recorded_at: Mon, 11 Jan 2016 23:34:27 GMT
recorded_with: VCR 3.0.1
