---
http_interactions:
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="bf71f1555f8562eabc898269bb89b705",
        oauth_signature="YgHiCEXMAx5ua%2FMh7LLp2tPq00M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453485388", oauth_token="574ac3e3498b185cb45b56934aff362c72ad09d4580a030a30673f41f4c16bdf",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.571.1
      x-trello-environment:
      - Production
      x-server-time:
      - '1453485387320'
      x-trello-index-last-update:
      - '109'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2ed-b6065248"
      x-iinfo:
      - 2-11303401-11303402 NNNN CT(66 81 0) RT(1453485386781 12) q(0 0 2 -1) r(3
        3) U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56903b47301bbf79e2a0b62d","name":"Hiring","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/kyjx2Y7H/hiring","shortUrl":"https://trello.com/b/kyjx2Y7H","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Fri, 22 Jan 2016 17:56:29 GMT
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="f05a0453ea17c6246412aee9aa0f7c7a",
        oauth_signature="xJUXbswB%2Fmah3cyY3p2cW2WlihU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453485389", oauth_token="574ac3e3498b185cb45b56934aff362c72ad09d4580a030a30673f41f4c16bdf",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.571.1
      x-trello-environment:
      - Production
      x-server-time:
      - '1453485387629'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"344-1b89a999"
      x-iinfo:
      - 10-107312681-107312682 NNNN CT(86 84 0) RT(1453485387063 12) q(0 0 2 -1) r(3
        3) U16
      x-cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"56903b5cf8dde35f827c63ae","name":"Waiting for RPI","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":65535,"subscribed":false},{"id":"56903b61281e96dd0ae060f2","name":"Waiting
        for Interview","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":196607,"subscribed":false},{"id":"56903b64a1b0273e5061ed36","name":"Waiting
        for Decision","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":327679,"subscribed":false},{"id":"569998320bd4f518c6aa2e30","name":"More","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":401407,"subscribed":false},{"id":"5699983462bd7b50af093886","name":"Lists","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":466943,"subscribed":false},{"id":"56999835f49e264a0ad291d1","name":"Yay","closed":false,"idBoard":"56903b47301bbf79e2a0b62d","pos":532479,"subscribed":false}]'
  recorded_at: Fri, 22 Jan 2016 17:56:29 GMT
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/actions?filter=createCard%2CupdateCard%3AidList%2CupdateCard%3Aclosed&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="8194810030771d43f7d406b38343622d",
        oauth_signature="GrUUb1i%2BDxHZRCK4UIP2EjPyAMI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453485389", oauth_token="574ac3e3498b185cb45b56934aff362c72ad09d4580a030a30673f41f4c16bdf",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.571.1
      x-trello-environment:
      - Production
      x-server-time:
      - '1453485387978'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"Z7fU1Tvoo1wbB+wbTOcqOw=="
      x-iinfo:
      - 1-46183444-46183447 NNNN CT(63 74 0) RT(1453485387378 12) q(0 0 2 -1) r(4
        4) U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"56a26be94dcda5a8fc89ac7d","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"listAfter":{"name":"More","id":"569998320bd4f518c6aa2e30"},"listBefore":{"name":"Waiting
        for Decision","id":"56903b64a1b0273e5061ed36"},"board":{"shortLink":"kyjx2Y7H","name":"Hiring","id":"56903b47301bbf79e2a0b62d"},"card":{"shortLink":"Dln2zB3R","idShort":4,"name":"Augustus
        Lidaka","id":"56944ecb0fbae97e72787568","idList":"569998320bd4f518c6aa2e30"},"old":{"idList":"56903b64a1b0273e5061ed36"}},"type":"updateCard","date":"2016-01-22T17:50:33.834Z","memberCreator":{"id":"568eb22b4f2a9c123db4f2d3","avatarHash":null,"fullName":"Alpha","initials":"A","username":"achen_pivotal"}},{"id":"56a26be87ec13c3de110f1cd","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"listAfter":{"name":"Waiting
        for Decision","id":"56903b64a1b0273e5061ed36"},"listBefore":{"name":"More","id":"569998320bd4f518c6aa2e30"},"board":{"shortLink":"kyjx2Y7H","name":"Hiring","id":"56903b47301bbf79e2a0b62d"},"card":{"shortLink":"Dln2zB3R","idShort":4,"name":"Augustus
        Lidaka","id":"56944ecb0fbae97e72787568","idList":"56903b64a1b0273e5061ed36"},"old":{"idList":"569998320bd4f518c6aa2e30"}},"type":"updateCard","date":"2016-01-22T17:50:32.122Z","memberCreator":{"id":"568eb22b4f2a9c123db4f2d3","avatarHash":null,"fullName":"Alpha","initials":"A","username":"achen_pivotal"}},{"id":"56a26bd7cea899ecb0f6cd00","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"board":{"shortLink":"kyjx2Y7H","name":"Hiring","id":"56903b47301bbf79e2a0b62d"},"list":{"name":"Waiting
        for Interview","id":"56903b61281e96dd0ae060f2"},"card":{"shortLink":"05bE3ilv","idShort":8,"name":"Andres
        Medina","id":"56a26bd7cea899ecb0f6ccff"}},"type":"createCard","date":"2016-01-22T17:50:15.952Z","memberCreator":{"id":"568eb22b4f2a9c123db4f2d3","avatarHash":null,"fullName":"Alpha","initials":"A","username":"achen_pivotal"}},{"id":"56a1106954326c55db48ae72","idMemberCreator":"568eb22b4f2a9c123db4f2d3","data":{"listAfter":{"name":"Waiting
        for Decision[...]
- request:
    method: get
    uri: https://trello.com/1/boards/56903b47301bbf79e2a0b62d/cards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5418d979bf4121eb1d1db52384d0e8f6", oauth_nonce="4acdddd02c11e4d7a56ca7a3c3d0af39",
        oauth_signature="5QRMPei9y3GQHJqPrwSYoQNbTwI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453485390", oauth_token="574ac3e3498b185cb45b56934aff362c72ad09d4580a030a30673f41f4c16bdf",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      x-trello-version:
      - 1.571.1
      x-trello-environment:
      - Production
      x-server-time:
      - '1453485388301'
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"jG/S5RdlqjNRT0x3Y31rdA=="
      x-iinfo:
      - 10-107312780-107312785 NNNN CT(86 86 0) RT(1453485387726 13) q(0 0 2 -1) r(3
        3) U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5694509d505786bb0da037b2","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T01:02:21.331Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b5cf8dde35f827c63ae","idMembersVoted":[],"idShort":6,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Kurtis
        Seebaldt","pos":65535,"shortLink":"1XqxfHhc","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"due":null,"email":"achen_pivotal+568eb22b4f2a9c123db4f2d3+5694509d505786bb0da037b2+dde2a38eed762bd5c22911e3299ed477dff50509@boards.trello.com","idChecklists":[],"idMembers":[],"labels":[],"shortUrl":"https://trello.com/c/1XqxfHhc","subscribed":false,"url":"https://trello.com/c/1XqxfHhc/6-kurtis-seebaldt"},{"id":"56944eb03f9eb44a94d7adb7","checkItemStates":[],"closed":false,"dateLastActivity":"2016-01-12T22:00:21.868Z","desc":"","descData":null,"idBoard":"56903b47301bbf79e2a0b62d","idList":"56903b61281e96dd0ae060f2","idMembersVoted":[],"idShort":3,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"Alpha
        Chen","pos":65535.5,"shortLink":"hedFBtH4[...]
