<h1><%= board_presenter.name %></h1>
<table>
  <tr>
    <% board_presenter.column_names.each do |column_name| %>
      <th><%= column_name %></th>
    <% end %>
  </tr>
  <% board_presenter.card_durations.each do |card_id, durations| %>
      <tr>
        <td><%= card_id %></td>
        <% durations.each do |_, duration| %>
            <td><%= duration %></td>
        <% end %>
      </tr>
  <% end %>
</table>
