<h1>Boards</h1>
<ul>
  <% boards.each do |board| %>
    <li>
      <a href="boards/<%= board[:id] %>"><%= board[:name] %></a>
    </li>
  <% end %>
</ul>

<script src="js/boards.js"></script>
<script>
  new Alki.boards($(document)).init();
</script>
