<h1><%= board.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <% lists.each do |_, list_name| %>
      <th><%= list_name %></th>
    <% end %>
  </tr>
  <% cards.each do |card| %>
      <tr>
        <td><%= card["name"] %></td>
        <% lists.each do |list_id, _| %>
            <td><%= display_times[card["id"]][list_id] %></td>
        <% end %>
      </tr>
  <% end %>

</table>
